body
{
    background-color: red;
}

h1
{
    color: #3A7734;
}

table
{
    width: 75%;
    /* określa szerokość tabeli na 75%*/
    height:100px;
    /* określa wysokość tabeli na 100px*/
    padding: 10px;
    /* określa margines wewnętrzny na 10 px */
    margin: 15px auto 15px auto;
    /* określa margines zewnętrzny- tabela zostaje wyśrodkowana */
    background-color: white;
    /* określa background tabeli */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* określa zaokrąglenie rogów tabeli za pomocą CSS3*/
    box-shadow: 5px 5px 50px grey;
    -moz-box-shadow: 5px 5px 50px grey;
    -webkit-box-shadow:5px 5px 50px grey;
    /* określa oceniowanie tabeli za pomocą CSS3*/
    border-spacing: 0px;
}

th
{
    margin-bottom: 20px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    color: red;
    font-size: 20px;
}

td
{
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    font-size: 15px;
    margin: 0;
}