body
{
    background-color: #F3E5AB;
}


table
{
    background-color: #F3E5AB;
    border-spacing: 0;

}

#container
{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

#logo
{
    margin-top: 30px;
    margin-left: 640px;
    margin-right: 540px;


}

#sekcja
{
    background-color: #300E01;
    margin-top: 20px;
    color: #F3E5AB;
    padding: 3px;
    /*display: inline-block;*/
}

#topbar
{
    background-color: #300E01;
    margin-top: 20px;
    margin-bottom: 55px;
    color: #F3E5AB;
    padding: 10px;
    height: auto;
}

#headers
{
    background-color: #F3E5AB;
    margin-top: 20px;
    color: black;
    padding: 10px;
}
#zmienna
{
    background-color: #F3E5AB;
    min-height: auto;
    text-align: justify;
    box-shadow: 5px 5px 50px #300E01;
    -moz-box-shadow: 5px 5px 50px #300E01;
    -webkit-box-shadow:5px 5px 50px #300E01;

}

#list_of_questions
{
    background-color: #F3E5AB;
    min-height: auto;
    text-align: justify;
    padding: 10px;

}

.option
{
    float:left;
    min-width: 50px;
    height: 21px;
    font-size: 25px;
    padding: 10px;
    border-right: 2px dotted #F3E5AB;
    opacity: 1;
}

.option:hover
{
    background-color: #F3E5AB;
    cursor: pointer;
}

.option2
{
    float:left;
    min-width: 50px;
    height: auto;
    font-size: 15px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.9;

}
.option3
{
    float:left;
    min-width: 50px;
    height: auto;
    font-size: 15px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.9;

}
.option4
{
    float: left;
    min-width: 50px;
    height: auto;
    font-size: 15px;
    padding: 10px;
    border-right: 2px dotted #444444;

}

.socials
{
    width:100%;
    text-align: center;

}

.socialdivs
{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.fb
{
    width: 375px;
    height: 150px;
    float:left
}

.fb:hover
{
    background-color: #4668b3;
}

.tw
{
    width: 375px;
    height: 150px;
    float:left
}

.tw:hover
{
    background-color: #00ACEE;
}

.insta
{
    width: 375px;
    height: 150px;
    float:left
}

.insta:hover
{
    background-color: #3F729B;
}

.gp
{
    width: 375px;
    height: 150px;
    float:left
}

.gp:hover
{
    background-color: #DB4A39;
}

#footer
{
    margin-left: auto;
    margin-right: auto;
}