<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Ask mate - Add new question</h1>

    <form action="{{ url_for('add_question') }}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title"><br>
        <br>
        <label for="message">Message:</label><br>
        <textarea name="message" id="message"></textarea><br>
        <br>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image"><br>
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>