<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ask Mate</title>
</head>
<body>
    <h1>Ask Mate - Questions</h1>
    <h2><a href="{{ url_for('display_add_question') }}">Add a new question</a></h2><br>
    <table>
        <thead>
            <tr>
                {% for i in range(7) %}
                    <th scope="col">{{ headers[i] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for key in question.keys() %}
                        {% if key == 'id' %}
                            <td><a href="{{ url_for("display_one_question", user=question[key]) }}">{{ question[key] }}</a></td>
                        {% endif %}
                        {% if key != 'id' and key != 'active' %}
                            <td>{{ question[key] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
