<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ question[0]['title'] }}</h1>
    <h3>{{ question[0]['message'] }}</h3>
    <h4><i>Answers:</i></h4>
    {% for answer in answers %}
        {% for key in answer.keys() %}
            {% if key == 'message' %}
                <h4>{{ answer[key] }}</h4>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <a href="{{ url_for('add_new_answer', user=question_id) }}">Add a new answer</a><br>

</body>
</html>